<div class="main">
  <app-navbar></app-navbar>

  <div class="nav-container second-nav">
    <div class="top-box alert alert-danger" *ngIf="alert != ''">
      {{alert}}
    </div>
    <div class="wrapper">
      <nav>
        <div class="container">

          <h3 class="second-nav-text"
            style="text-transform:capitalize; color:#FFFFFF; margin-top: 12px; font-weight:500 !important;">
            Welcome <span style="color:#53DD6C">{{username}}!</span>
          </h3>
        </div>
      </nav>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Amount</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #depositForm="ngForm" (ngSubmit)="deposit(depositForm.value)">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label class="depositModalLabel">Enter the amount you wish to deposit</label>
                  <input type="text" placeholder="Enter Amount">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary custom-dash-btn">Deposit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Amount</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #withdrawForm="ngForm" (ngSubmit)="withdraw(withdrawForm.value)">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label class="depositModalLabel">Enter the amount you wish to withdraw</label>
                  <input type="text" placeholder="Enter Amount">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary custom-dash-btn">Withdraw</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card d-flex">
          <h3 class="second-nav-text text-center" style="font-weight: 600; margin-top: 15px;">
            BALANCE
          </h3>
          <h3 class="second-nav-text text-center" style="margin-top:38px;">
            $50,000
          </h3>
          <div class="row">
            <div class="col-md-12" style="width:100%; height: 35px;">
            </div>
          </div>
          <div class="d-flex" style="padding: 0px 92px;">
            <div class="btn btn-primary dash-btn" style="border: none;"><a routerLink="#" data-toggle="modal" data-target="#depositModal">DEPOSIT</a></div>
            <div class="btn btn-primary dash-btn" style="border: none;"><a routerLink="#" data-toggle="modal" data-target="#withdrawModal">WITHDRAW</a></div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="card right-card top-right">
          <div class="card-body">
            <h3 class="card-title" style="margin-top: 5px;">START A NEW BACKTEST</h3>
            <div class="dropdown show" style="margin-top: 25px;">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pick a Stock
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" value="BABA_2018" href="#">ALIBABA 2018</a>
                <a class="dropdown-item" value="BA_2020" href="#">BOEING 2020</a>
                <a class="dropdown-item" value="FB_2018" href="#">FACEBOOK 2018</a>
                <a class="dropdown-item" value="GOOG_2020" href="#">ALPHABET INC 2020</a>
                <a class="dropdown-item" value="INFY_2020" href="#">INFOSYS 2020</a>
                <a class="dropdown-item" value="KO_2020" href="#">COCOCOLA 2020</a>
                <a class="dropdown-item" value="NVDA_2020" href="#">NVIDIA 2020</a>
                <a class="dropdown-item" value="RELIANCE.NS_2020-2016" href="#">RELIANCE 2020-2016</a>
                <a class="dropdown-item" value="TSLA_2020" href="#">TESLA 2020</a>
                <a class="dropdown-item" value="TTM_2020" href="#">TATA MOTORS 2020</a>
                <a class="dropdown-item" value="UL_2020" href="#">UNILEVER 2020</a>
                <a class="dropdown-item" value="GSPC_2016" href="#">S&P 500 2016</a>
                <a class="dropdown-item" value="GSPC_2018" href="#">S&P 500 2018</a>

              </div>
            </div>
            <div class="btn btn-primary dash-btn" style="margin-top: 35px; border: none;"><a routerLink="#">START</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12" style="padding: 0px 250px;">
        <div class="card d-flex">
          <div class="card-body">
            <h3 class="card-title" style="margin-top: 25px;">CHECK YOUR PORTFOLIO/DASHBOARD</h3>
            <div class="btn btn-primary dash-btn" style="margin-top: 35px; border: none;"><a routerLink="/dashboard">DASHBOARD</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>


<!-- Footer -->
<div class="custom-container">
  <div class="container ">
    <footer class="page-footer font-small blue pt-4 ">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <!-- <h5 class="text-uppercase">StocQ</h5> -->
            <h4 class="custom-h4"><span>STOC</span> <span style="color:#53DD6C">Q</span></h4>
            <h6 class="custom-h6">
              <p>This is a stock trading application made using machine learning models where the users can start a
                backtest
                on stocks of certain companies and take a wise decision as to deposit or withdraw </p>
            </h6>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase custom-font">Useful Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="/home">Home</a>
              </li>
              <li>
                <a href="/backtest">Get Started</a>
              </li>
              <li>
                <a href="/about-us">About Us</a>
              </li>
              <li>
                <a href="#!">Contact</a>
              </li>
              <li>
                <a href="/login">Login</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->
      <div class="col-md-12" style="width:100%; height: 15px;">
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 custom-h6">© 2021 Copyright StocQ

      </div>
      <!-- Copyright -->

    </footer>
  </div>
</div>
<!-- Footer -->