
.main{
  font-family: 'Spartan', sans-serif;
  margin: 0;
  background: #01161E url('../../assets/bg-about.svg');
  background-repeat: none;
  background-position: right;
  background-size:cover;
  min-height:100vh;
}

h1{
  font-family: Spartan;
  font-style: normal;
  font-weight: 700;
  font-size: 7em;
  line-height: 112px;
  color: #FBFBFF;
  margin-bottom: 5%;
}

h3{
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 5em;
  line-height: 90px;
  color: #FBFBFF;
  margin-bottom: 5%;
}

p{
font-weight: 100;
font-size: 20px;
line-height: 27px;
margin-top: 40px;
color: #FFFFFF;
line-height:35px;
}

.objectives li{
  font-weight: 100;
  font-size: 20px;
  margin-top: 40px;
  color: #FFFFFF;
}