<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StocQ</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;600&display=swap');
  </style>
</head>
<body>
  <div class="nav-container">
    <div class="wrapper">
      <nav>
        <div class="logo">
          <img routerLink = "/home" src = "../../assets/nav-logo.png">
        </div>

        <ul class = "nav-items">
          <li>
            <a href="#">DASHBOARD</a>
          </li>
          <li>
            <a routerLink="/about-us" routerLinkActive="active">ABOUT US</a>
          </li>
          <li>
            <a routerLink="/login">LOGIN</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header-container">
    <div class="wrapper">
      <header>
        <div class="hero-content">
          <h1>ABOUT US</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        </div>
        <div class="hero-image">
          <img src="../../assets/stonks-image.png" alt="">
          <p class = "align-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially</p>
        </div>
      </header>
    </div>
  </div>

</body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>
