.main{
  font-family: 'Spartan', sans-serif;
  margin: 0;
  padding:0;
  min-height:100vh;
  background: #01161E url('../../assets/bg-wave-1.svg');
  background-repeat: none;
  background-position: right;
  background-size:cover;
}


h4{
  font-family: Spartan;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  line-height: 112px;
  color: #FBFBFF;
  margin-bottom: 24px;
}

header p{
  font-family: Spartan;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 27px;
margin-top: 12px;
color: #FFFFFF;
}

header p.align-right{
  font-family: Spartan;
  text-align: right;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 27px;
margin-top: 12px;
color: #FFFFFF;
}

.custom-row{
  margin-top: 10%;
}

.form-group{
  color:grey !important;
}

.btn{
  color: #FFFFFF;
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 24px;
  background: #DD5353;
  border-radius: 15px;
  padding: 12px 24px;
}

.btn:hover{
  border: none;
  background: #53DD6C;
}


.card{
  border-radius: 40px;
  border: none;
  width:100%;
  height: 100%;
  background: #013C53;
  background-size:cover;
  padding: 20px 60px;
}
@media (max-width:770px) {
  .card{
    width:80vw;
  }
}

form label{
  color: #FBFBFF;
  font-weight: 100;
}

.login{
  padding: 19px;
}

.card-block{
  text-align: center;
}

input.ng-touched.ng-invalid{
  border:2px solid red;
}
small{
  color:lightcoral;
}
input{
  height:40px;
  border-radius:13px;
}
