<div class="main">
  <app-navbar></app-navbar>

  <div class="container">

    <div class="row custom-row">
      <div class="col-md-6">
        <div class="top-box alert alert-danger" *ngIf="alert != ''">
          {{alert}}
        </div>
        <div class="card">
          <h4 class="card-title">LOGIN</h4>
          <div class="card-block">

            <form #loginForm="ngForm" (ngSubmit)="Login(loginForm.value)">
              <div class="form-group login">
                <label for="exampleInputEmail1">Email address</label>
                <input ngModel required #email="ngModel" name="email" type="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small *ngIf="email.touched && !email.valid" class="form-text text-muted">Email Cannot Be Empty!</small>
              </div>
              <div class="form-group login">
                <label for="exampleInputPassword1">Password</label>
                <input ngModel required name="password" type="password" #password="ngModel" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <small *ngIf="password.touched && !password.valid" class="form-text text-muted">Password Cannot Be Empty!</small>
              </div>
              <button type="submit" class="btn" [disabled] = "!loginForm.valid">LOGIN</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="card">
          <h4 class="card-title">REGISTER</h4>
          <div class="card-block">
            <form #RegisterForm="ngForm" (ngSubmit)="Register(RegisterForm.value)">

              <div class="form-group">
                <label for="exampleInputName1">Name</label>
                <input ngModel required #name="ngModel" name="name" required type="text" class="form-control" id="exampleInputName2" aria-describedby="nameHelp" placeholder="Enter name">
                <small *ngIf="name.touched && !name.valid" class="form-text text-muted">Name Cannot Be Empty!</small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input ngModel required #email1="ngModel" name="email1" required type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email">
                <small *ngIf="email1.touched && !email1.valid" class="form-text text-muted">Email Cannot Be Empty!</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input ngModel required #password1="ngModel" name="password1" required type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                <small *ngIf="password1.touched && !password1.valid" class="form-text text-muted">Password Cannot Be Empty!</small>
              </div>
              <button type="submit" class="btn" [disabled] = "!RegisterForm.valid">REGISTER</button>
            </form>
            <!-- <a href="#" class="btn btn-primary">REGISTER</a> -->
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
