<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STOCQ - Home</title>
</head>

<body>
  <div class="nav-container">
    <div class="wrapper">
      <nav>
        <div class="d-flex">
          <h3 routerLink="" style="font-size:35px; font-weight:800;color:white !important;">
            <img height="55px" src="../../assets/logo.png"> STOC<span style="color:#53DD6C">Q</span>
          </h3>
        </div>

        <ul class="nav-items">
          <li>
            <a routerLink="/dashboard">DASHBOARD</a>
          </li>
          <li>
            <a routerLink="/about-us">ABOUT US</a>
          </li>
          <li>
            <a routerLink="/login">LOGIN</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="nav-container second-nav">
    <div class="top-box alert alert-danger" *ngIf="alert != ''">
      {{alert}}
    </div>
    <div class="wrapper">
      <nav>
        <div class="container">

          <h3 class="second-nav-text">
            Hello {{username}}!
          </h3>
        </div>

        <ul class="second-nav-items">
            <div class="d-flex">
              <h3 class="second-nav-text">
                TIME
              </h3>
            </div>
        </ul>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card d-flex">
          <h3 class="second-nav-text text-right">
            Hello {{username}}!
          </h3>
          <h3 class="second-nav-text" style="margin-top:auto;">
            $50,000
          </h3>
          <div class="btn btn-primary dash-btn" style="border: none;"><a routerLink="#">Deposit</a></div>
          <div class="btn btn-primary dash-btn" style="border: none;"><a routerLink="#">Withdraw</a></div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="card">
          <h3 class="second-nav-text">
            <canvas baseChart [datasets]="lineChartData"
                  [chartType]="lineChartType">
            </canvas>
          </h3>
        </div>

      </div>
      <div class="col-md-4">
        <div class="card">
          <h3 class="second-nav-text">
            <canvas baseChart [datasets]="lineChartData"
                  [chartType]="lineChartType">
            </canvas>
          </h3>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body">
            <div style="width:100%;">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
              </canvas>

            </div>

          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div style="width:100%;">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
              </canvas>

            </div>
          </div>
        </div>

      </div>

      <div class="col-md-5">
        <div class="card right-card top-right">
          <div class="card-body">
            <h3 class="card-title">START A NEW BACKTEST</h3>
            <div class="btn btn-primary dash-btn" style="margin-top: 25px; border: none;"><a routerLink="#">DEPOSIT</a>
            </div>
          </div>
        </div>
        <div class="card right-card bottom-right">
          <div class="card-body stats ">
            <h3>Backtest Statistics</h3>
            <div class="table">
              <tbody>
                <tr>
                  <th scope="row">Start</th>
                  <td>2004-08-19 00:00:00</td>
                </tr>
                <tr>
                  <th scope="row">Start</th>
                  <td>2004-08-19 00:00:00</td>
                </tr>
                <tr>
                  <th scope="row">Start</th>
                  <td>2004-08-19 00:00:00</td>
                </tr>
              </tbody>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="nav-container">

      </div>
    </div>
  </div>






</body>
<!-- ChartJS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- <script>
  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script> -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</html>