<div class="main">
  <app-navbar></app-navbar>

  <div class="nav-container second-nav">
    <div class="top-box alert alert-danger" *ngIf="alert != ''">
      {{ alert }}
    </div>
    <div class="wrapper">
      <nav>
        <div class="container">
          <h3
            class="second-nav-text"
            style="
              text-transform: capitalize;
              color: #ffffff;
              margin-top: 12px;
              font-weight: 500 !important;
            "
          >
            Welcome <span style="color: #53dd6c">{{ username }}</span>
          </h3>
        </div>

        <ul class="second-nav-items">
          <div class="d-flex">
            <h3 class="second-nav-text"></h3>
          </div>
        </ul>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card right-card top-right">
          <div class="card-body">
            <h3 class="card-title mb-4" style="margin-top: 5px;">BACKTEST STATISTICS</h3>

            <table class="table">
              <tbody>
                <tr>
                  <td><b>Stock Name</b></td>
                  <td><b>{{stock}}</b></td>
                </tr>
                <tr>
                  <td>Initial Balance</td>
                  <td>${{init_bal}}</td>
                </tr>
                <tr>
                  <td>Final Balance</td>
                  <td>${{final_bal}}</td>
                </tr>
                <tr>
                  <td>No. of buy days</td>
                  <td>{{no_of_buys}}</td>
                </tr>
                <tr>
                  <td>No. of sell days</td>
                  <td>{{no_of_sales}}</td>
                </tr>
                <tr>
                  <td>Profit Made</td>
                  <td>${{profit_made}}</td>
                </tr>
                <tr>
                  <td>Profit Percentage</td>
                  <td>{{profit_per}}%</td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <h3 class="card-title mb-4" style="margin-top: 5px;">Buys/Sells</h3>
              <div class="card-body">
                <h3 class="second-nav-text text-center">Buy days vs Sell days</h3>
                <canvas baseChart 
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  height="253"
                  [colors]="doughnutChartColors">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="height: 800px">
            <div class="card-body">
              <h3 class="second-nav-text text-center">OHLC Prices</h3>
              <div class="col-md-12" style="width: 100%; height: 60px"></div>
              <div id="divChart">
                <!-- <canvas id="myChart"></canvas> -->
                <apx-chart
                  [series]="series"
                  [chart]="chart"
                  [title]="title"
                ></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>

  
    
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h3 class="second-nav-text text-center">Return Rates</h3>
            <div style="width: 100%">
              <canvas
                baseChart
                [datasets]="lineChartData_Return"
                [labels]="lineChartLabels_Return"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h3 class="second-nav-text text-center">Portfolio Value</h3>
            <div style="width: 100%">
              <canvas
                baseChart
                [datasets]="lineChartData_Portfolio"
                [labels]="lineChartLabels_Portfolio"
                [options]="lineChartOptions"
                [colors]="lineChartColors_Portfolio"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h3 class="second-nav-text text-center">Profit Data</h3>
            <div style="width: 100%">
              <canvas
                baseChart
                [datasets]="lineChartData_Profits"
                [labels]="lineChartLabels_Profits"
                [options]="lineChartOptions"
                [colors]="lineChartColors_Profits"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="width: 100%; height: 150px"></div>
    </div>

    <div class="row">
      <div class="nav-container"></div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="custom-container">
  <div class="container">
    <footer class="page-footer font-small blue pt-4">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <!-- <h5 class="text-uppercase">StocQ</h5> -->
            <h4 class="custom-h4">
              <span>STOC</span> <span style="color: #53dd6c">Q</span>
            </h4>
            <h6 class="custom-h6">
              <p>
                This is a stock trading application made using machine learning
                models where the users can start a backtest on stocks of certain
                companies and take a wise decision as to deposit or withdraw
              </p>
            </h6>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3" />

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3"></div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase custom-font">Useful Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="/home">Home</a>
              </li>
              <li>
                <a href="/backtest">Get Started</a>
              </li>
              <li>
                <a href="/about-us">About Us</a>
              </li>
              <li>
                <a href="#!">Contact</a>
              </li>
              <li>
                <a href="/login">Login</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->
      <div class="col-md-12" style="width: 100%; height: 15px"></div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 custom-h6">
        © 2021 Copyright StocQ
      </div>
      <!-- Copyright -->
    </footer>
  </div>
</div>
<!-- Footer -->
