/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";

.top-box{
    position: fixed;
    top:20px;
    left:50%;
    transform: translate(-50%, 0%);
    margin:auto;
}
html {
    scroll-behavior: smooth;
  }
body{
    margin:0;
    padding:0;
}