<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STOCQ - Home</title>
</head>
<body>
  <div class="nav-container">
    <div class="wrapper">
      <nav>
        <div class="d-flex">
          <h3 routerLink = "" style="font-size:35px; font-weight:800;color:white !important;">
            <img height="55px" src = "../../assets/logo.png"> STOC<span style="color:#53DD6C">Q</span>
          </h3>
        </div>

        <ul class = "nav-items">
          <li>
            <a routerLink="/dashboard">DASHBOARD</a>
          </li>
          <li>
            <a routerLink="/about-us">ABOUT US</a>
          </li>
          <li>
            <a routerLink="/login">LOGIN</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="container" >
    <div class="row">
      <div class="col-md-6 d-flex align-items-center" style="margin-top:10vh;">
        <h1>TRADE STOCKS HANDS FREE</h1>
        <div class="btn btn-primary dash-btn"><a routerLink="/dashboard">DASHBOARD</a></div>
      </div>

      <div class="col-md-6">
        <svg width='auto' height='auto' viewBox="150 -50 850 850" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M249.586 592.562L596.394 804.307" stroke="#D9D9D9" stroke-width="5"/>
          <rect width="87.6335" height="267.2" transform="matrix(0.853205 -0.520928 0.853205 0.520928 268.006 650.968)" fill="#53DD6C"/>
          <path d="M369.534 539.786L589.012 673.789" stroke="#D9D9D9" stroke-width="5"/>
          <rect width="87.6335" height="94.91" transform="matrix(0.853205 -0.520928 0.853205 0.520928 367.215 585.529)" fill="#53DD6C"/>
          <path d="M555.939 527.585L721.804 628.855" stroke="#D9D9D9" stroke-width="5"/>
          <rect width="87.6335" height="127.896" transform="matrix(0.853205 -0.520928 0.853205 0.520928 544.599 567.821)" fill="#53DD6C"/>
          <path d="M540.181 391.952L823.882 565.167" stroke="#D9D9D9" stroke-width="5"/>
          <rect width="87.6335" height="218.758" transform="matrix(0.853205 -0.520928 0.853205 0.520928 548.221 444.021)" fill="#53DD6C"/>
          <path d="M561.313 289.031L724.255 386.63" stroke="#D9D9D9" stroke-width="5"/>
          <rect width="87.6335" height="94.91" transform="matrix(0.853205 -0.520928 0.853205 0.520928 566.123 337.241)" fill="#53DD6C"/>
          <path d="M684.17 126.732L901.413 259.371" stroke="#D9D9D9" stroke-width="5"/>
          <rect width="87.6335" height="225.166" transform="matrix(0.853205 -0.520928 0.853205 0.520928 632.146 142.129)" fill="#53DD6C"/>
          <path d="M741.908 279.697L879.849 363.917" stroke="#D9D9D9" stroke-width="5"/>
          <rect width="87.6335" height="53.6732" transform="matrix(0.853205 -0.520928 0.853205 0.520928 726.186 317.257)" fill="#53DD6C"/>
          <path d="M739.098 37.276L912.222 142.978" stroke="#D9D9D9" stroke-width="5"/>
          <rect width="87.6335" height="67.3631" transform="matrix(0.853205 -0.520928 0.853205 0.520928 729.214 78.4016)" fill="#53DD6C">
              <animate attributeName="height" from="15" to="267.419"
              values="5 ; 2 ; 8 ; 10 ; 24 ; 30 ; 40 ; 25 ; 10 ; 0 ; 15 ; 25 ; 50 ; 60 ; 69 ; 90 ; 110 ; 100 ; 130 ; 70 ; 55 ; 35 ; 20 ; 5"
              dur="6s" repeatCount="indefinite" />
          </rect>
          <path id="ema" d="M548.351 807.043C548.351 807.043 375.182 553.044 644.553 456.433C913.924 359.821 926.553 250.482 941.005 85.8509"
          stroke="#DD5353" stroke-width="7">
          </path>
      </svg>
      </div>

    </div>
  </div>

  <div class="container" style="min-height:100vh">
    <div class="row">
      <div class="col-md-12 d-flex align-items-center justify-content-center text-center" style="margin-top:100px;">
        <div class="overlay">
          <img style="max-width:100%" src="../../assets/3d-logo-2.png" alt="">
        </div>
        <h3 class="text-overlay">DEEP Q LEARNING + FINANCIAL MARKETS = STOCQ </h3>
        
      </div>

    </div>
  </div>

  

    



</body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>
