<div class="main">
  <app-navbar></app-navbar>

<div class="container" id="home">
<div class="row">
  <div class="col-md-6 d-flex align-items-center" style="margin-top:10vh;">
    <h1>TRADE STOCKS HANDS FREE</h1>
  </div>

  <div class="col-md-6">
    <svg width='auto' height='auto' viewBox="150 -50 850 850" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M249.586 592.562L596.394 804.307" stroke="#D9D9D9" stroke-width="5" />
      <rect width="87.6335" height="267.2" transform="matrix(0.853205 -0.520928 0.853205 0.520928 268.006 650.968)"
        fill="#53DD6C" />
      <path d="M369.534 539.786L589.012 673.789" stroke="#D9D9D9" stroke-width="5" />
      <rect width="87.6335" height="94.91" transform="matrix(0.853205 -0.520928 0.853205 0.520928 367.215 585.529)"
        fill="#53DD6C" />
      <path d="M555.939 527.585L721.804 628.855" stroke="#D9D9D9" stroke-width="5" />
      <rect width="87.6335" height="127.896"
        transform="matrix(0.853205 -0.520928 0.853205 0.520928 544.599 567.821)" fill="#53DD6C" />
      <path d="M540.181 391.952L823.882 565.167" stroke="#D9D9D9" stroke-width="5" />
      <rect width="87.6335" height="218.758"
        transform="matrix(0.853205 -0.520928 0.853205 0.520928 548.221 444.021)" fill="#53DD6C" />
      <path d="M561.313 289.031L724.255 386.63" stroke="#D9D9D9" stroke-width="5" />
      <rect width="87.6335" height="94.91" transform="matrix(0.853205 -0.520928 0.853205 0.520928 566.123 337.241)"
        fill="#53DD6C" />
      <path d="M684.17 126.732L901.413 259.371" stroke="#D9D9D9" stroke-width="5" />
      <rect width="87.6335" height="225.166"
        transform="matrix(0.853205 -0.520928 0.853205 0.520928 632.146 142.129)" fill="#53DD6C" />
      <path d="M741.908 279.697L879.849 363.917" stroke="#D9D9D9" stroke-width="5" />
      <rect width="87.6335" height="53.6732"
        transform="matrix(0.853205 -0.520928 0.853205 0.520928 726.186 317.257)" fill="#53DD6C" />
      <path d="M739.098 37.276L912.222 142.978" stroke="#D9D9D9" stroke-width="5" />
      <rect width="87.6335" height="67.3631"
        transform="matrix(0.853205 -0.520928 0.853205 0.520928 729.214 78.4016)" fill="#53DD6C">
        <animate attributeName="height" from="15" to="267.419"
          values="5 ; 2 ; 8 ; 10 ; 24 ; 30 ; 40 ; 25 ; 10 ; 0 ; 15 ; 25 ; 50 ; 60 ; 69 ; 90 ; 110 ; 100 ; 130 ; 70 ; 55 ; 35 ; 20 ; 5"
          dur="6s" repeatCount="indefinite" />
      </rect>
      <path id="ema"
        d="M548.351 807.043C548.351 807.043 375.182 553.044 644.553 456.433C913.924 359.821 926.553 250.482 941.005 85.8509"
        stroke="#DD5353" stroke-width="7">
      </path>
    </svg>
  </div>

</div>
<!-- <hr class="new1"> -->
<div class="row">
  <div class="col-md-6">
    <div class="btn btn-primary dash-btn"><a routerLink="/backtest">Get Started</a></div>
    <div class="btn btn-primary dash-btn ml-4"><a routerLink="/about-us">Read More</a></div>
  </div>
  <div class="col-md-6">

  </div>
</div>
<div class="row">
  <div class="col-md-12" style="width:100%; height: 100px;">
  </div>
</div>
<hr class="new1">
<div class="row">
  <!-- <div class="col-md-12" style="width:100%; height: 100px;">
  </div> -->
</div>
</div>

 

<div class="container" style="min-height:100vh">

  <!--DQN-->

<div class="row">
  <h3>What is DQN?</h3>
  <p class="para">
    This application uses a Model-free Reinforcement Learning technique called Deep Q-Learning. At any given time (episode), an agent observes its current state, selects and performs an action (buy/sell/hold), observes a subsequent state, receives some reward signal and lastly adjusts it's parameters based on the gradient of the loss computed
  </p>
  <p class="para">
    A DQN, or <b>Deep Q-Network</b>, basically approximates a state-value function in a Q-Learning framework with a neural network which we exploit for prediction purposes.
  </p>
</div>
<hr class="new1">

  <!-- QUOTES -->
  <div class="row">
    <div class="col-md-6 custom-quote">
      <img src="../../assets/quotes-bg.png" style="width:550px; height:450px;">
        <h3 class="custom-first-txt custom-quote-text">
          "It's far better to buy a wonderful company at a fair price than a fair company at a wonderful price."
        </h3>
    </div>
    <div class="col-md-1" style="width:100%; height: 100px;"></div>
    <div class="col-md-4">
      <div class="col-md-12" style="width:100%; height:75px;">
      </div>
      <img src="../../assets/warren_buffet.jpeg" style="width:400px; height:350px;">
      <div class="col-md-12" style="width:100%; height:15px;">
      </div>
      <h3 class="custom-quote-text" style="padding-left: 50px;">
        Warren Buffett
      </h3>
    </div>
  </div>
  <hr class="new1">

<div class="row">
  <div class="col-md-4">
    <div class="col-md-12" style="width:100%; height:75px;">
    </div>
    <img src="../../assets/alex-elder.jpeg" style="width:400px; height:350px;">
    <div class="col-md-12" style="width:100%; height:15px;">
    </div>
    <h3 class="custom-quote-text" style="padding-left: 50px;">
      Alexander Elder
    </h3>
  </div>
  <div class="col-md-1" style="width:100%; height: 100px;"></div>
  <div class="col-md-6 custom-quote">
    <img src="../../assets/quotes-bg.png" style="width:550px; height:450px;">
      <h3 class="first-txt custom-quote-text">
        "The goal of a successful trader is to make the best trades. Money is secondary."
      </h3>
  </div>
</div>
<hr class="new1">

<!--OBJECTIVES-->

<div class="row">
  <!-- <div class="col-md-12 text-div text-center">
      <h3 class="text-center">DEEP <span style="color:#53DD6C">Q</span> LEARNING</h3>
      <h3 class="text-center"><span style="color:#DD5353">+</span></h3>
      <h3 class="text-center">FINANCIAL MARKETS</h3>
      <h3 class="text-center"><span style="color:#DD5353">=</span></h3>
      <h1 class="text-center">STOC<span style="color:#53DD6C">Q</span></h1>
  </div> -->
  <!-- </div> -->

 
  <h3>Our Main Objectives</h3>
  <ul class="objectives">
    <li>Build a sustainable and fast model.</li>
    <li>Implement a risk management strategy for the model.</li>
    <li>Build an analytics tool to help people judge the results through a long term view.</li>
    <li>Compare and test results to real life scenarios.</li>
    <li>Connect to the real-time market for paper trade execution, if the model has turned out as we expected</li>
  </ul>
</div>
<hr class="new1">

<div class="row">
  <h3>Project Description</h3>
  <p></p>
  <!-- <ul class="objectives">
    <li>Build a sustainable and fast model.</li>
    <li>Implement a risk management strategy for the model.</li>
    <li>Build an analytics tool to help people judge the results through a long term view.</li>
    <li>Compare and test results to real life scenarios.</li>
    <li>Connect to the real-time market for paper trade execution, if the model has turned out as we expected</li>
  </ul> -->
</div>



<div class="row">
  <div class="col-md-12 text-center">
    <hr class="new1">
    <!-- <img style="max-width: 100%; max-height: 100%; padding: 50px 0px;" src = "../../assets/fancy-img.png"> -->
    <div class="btn btn-primary dash-btn" style="margin-top: 16px;"><a href="#home">Go back to top</a></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="width:100%; height: 200px;">
  </div>
</div>
</div>
</div>


<!-- Footer -->
<div class="custom-container">
  <div class="container ">
    <footer class="page-footer font-small blue pt-4 ">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <!-- <h5 class="text-uppercase">StocQ</h5> -->
            <h4 class="custom-h4"><span>STOC</span> <span style="color:#53DD6C">Q</span></h4>
            <h6 class="custom-h6">
              <p>This is a stock trading application made using machine learning models where the users can start a
                backtest
                on stocks of certain companies and take a wise decision as to deposit or withdraw </p>
            </h6>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase custom-font">Useful Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="/home">Home</a>
              </li>
              <li>
                <a href="/backtest">Get Started</a>
              </li>
              <li>
                <a href="/about-us">About Us</a>
              </li>
              <li>
                <a href="#!">Contact</a>
              </li>
              <li>
                <a href="/login">Login</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->
      <div class="col-md-12" style="width:100%; height: 15px;">
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 custom-h6">© 2021 Copyright StocQ

      </div>
      <!-- Copyright -->

    </footer>
  </div>
</div>
<!-- Footer -->