* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: 'Spartan', sans-serif;
  margin: 0;

  min-height:100vh;

  background-repeat: none;
  background-position: center center;
  background-size:cover;
  background: radial-gradient(111.56% 230% at -1.56% 160%, #53DD6C 0.97%, #015E82 54.69%, #181818 96.35%);
}


/* Navigation */

/* .nav-logo{
  padding: 0 100px;
  line-height: 80px;
} */
/*
nav ul{
  float: right;

}

nav li{
  display: inline-block;
  margin: 0 28px;
  line-height: 50px;
}

nav a{
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 200;
}

nav a:active, nav a:hover{
  color: #53DD6C !important;
  text-decoration: none;
  border-bottom: 1px solid #53DD6C;
}

nav #icon{
  color: #FFFFFF;
  font-size: 18px;
  line-height: 50px;
  float: right;
  cursor: pointer;
  display: none;
}

@media(max-width: 1048px){
  nav ul{
    margin-right: 20px;
  }
  nav a{
    font-size: 12px;
  }
}

@media (max-width: 909px){
  nav #icon{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #015E82;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav li{
    display:block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a{
    font-size: 12px;
  }
  nav a:active, nav a:hover{
    color: #53DD6C !important;
    text-decoration: none;
    border-bottom: 1px solid #53DD6C;
  }
  nav ul.show{
    left: 0;
  }
} */


.nav-container{
  height: 90px;
}

.wrapper{
  max-width: 1120px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

nav ul{
  display: flex;
  overflow: hidden; /*mobile friendly when browser is collapsing*/
    margin:0; /*edge to edge*/
    padding: 0;
}

.nav-items li{
  list-style: none;
  margin-right: 50px;
}
.nav-items li:hover{
  border-bottom: 1px solid #53DD6C;
}
.nav-items li:hover a{
  color: #53DD6C !important;
}


.nav-items li:nth-last-of-type(1){
  margin-right: 30px;
}

.nav-items li a{
  color:#FFFFFF;
  display: block;
  font-size: 13px !important;
  line-height: 20px;
  font-family: 'Spartan', sans-serif;
  font-weight: 200 !important;
  text-decoration: none;
}

/* Header content */

.header-container{

  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1{
  font-family: Spartan;
  font-style: normal;
  font-weight: 800;
  font-size: 7em;
  line-height: 112px;
  color: #FBFBFF;
  margin-bottom: 24px;
}

header a{
  color: #FFFFFF;
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;

  background: #DD5353;
  border-radius: 25px;
  padding: 24px 48px;
}

header a:hover{
  color: #53DD6C;
  background: #FFFFFF;
}

.dash-btn{
  color: #FFFFFF;
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;

  background: #DD5353;
  border-radius: 20px;
  padding: 15px 24px;
}

.dash-btn a{
  color:#FFFFFF;
}

.dash-btn a:hover{
  text-decoration: none;
}

.dash-btn:hover{

  border: none;
  background: #53DD6C;

}

/* Hero Image */

header .hero-image{
  position: relative;
  margin-right: 0;
}


svg {
  margin: auto;
  animation-fill-mode: backwards;
}

#ema {
  stroke-dasharray: 1000;
  animation: dash 4s infinite ease-in-out;
}

@keyframes dash {
  to {
      stroke-dashoffset: 2000;
  }
}

.my-btn{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  background: #DD5353;
  border-radius: 25px;
}

ul.nav-items li.dropdownIcon {
  display: none;
}

@media screen and (max-width:680px) {
  .logo{
    padding-left: 12px;
  }
  ul.nav-items li
  {
      display: none;
  }
  ul.nav-items li.dropdownIcon{
      display: block;
      float: right;
  }
  ul.nav-items.responsive li.dropdownIcon{
      position:absolute;
      top: 0;
      right: 0;
  }
  ul.nav-items.responsive{
      position: relative;
  }
  ul.nav-items.responsive li{
      display: block;
      float: none;
  }
  ul.nav-items.responsive li a{
      display: block;
      text-align: left;
  }
}
